{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <main class="form-signin">
    {{ form_start(form, {'method':'POST'}) }}
        <h1 class="h3 mb-3 fw-normal">Registration</h1>

        {{ form_row(form.email, {
            attr: {
                placeholder: 'Email',
                class: 'form-control'
            }
        }) }}
        {{ form_row(form.username, {
            attr: {
                placeholder: 'Username',
                class: 'form-control'
            }
        }) }}

        {{ form_row(form.plainPassword, {
            label: 'Password',
            attr: {
                placeholder: 'Password'
            }
        }) }}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
    {{ form_end(form) }}
    </main>
{% endblock %}