<div class="row">
    <div class="col-8 col-sm-8">
        {{ form_start(linkForm, {'method':'POST'}) }}
        {{ form_row(linkForm.name, {
            attr: {
                placeholder: 'Link name',
                class: 'form-control'
            }
        }) }}
        {{ form_row(linkForm.url, {
            attr: {
                placeholder: 'URL',
                class: 'form-control'
            }
        }) }}

        <hr class="my-4">
        <div class="form-group">
            <button class="w-100 btn btn-primary btn-lg" type="submit">{{ button_text }}</button>
        </div>

        {{ form_end(linkForm) }}
    </div>
</div>