{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    {{ include('_header.html.twig') }}

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">

        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-error" role="alert">
                    {{ message }}
                </div>
            {% endfor %}


            <h1 class="mt-5">My Links</h1>
            <a href="{{ path('app_link_new') }}">
                <button type="button" class="btn btn-primary">Add link</button>
            </a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Visits</th>
                    <th scope="col">Last Visit</th>
                    <th scope="col">Tools</th>
                </tr>
                </thead>
                <tbody>


                {% for link in links %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ link.name }}</td>
                    <td>{{ link.url }}</td>
                    <td>{{ link.visits|length }}</td>
                    <td>{{ link.visits|last }}</td>
                    <td>
                        <a href="{{ path('app_link_edit', {link: link.id}) }}">
                        <button type="button" class="btn btn-warning btn-sm">
                            Edit
                        </button>
                        </a>
                        <a href="{{ path('app_link_delete', {link: link.id}) }}">
                            <button type="button" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </a>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </main>



{% endblock %}
